.navbar{
  display:flex;

  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
 

}
.navbar ul{
  list-style: none;
display: flex;
width: 300px;
font-size: 20px;
font-weight: bold;
justify-content: space-between;
}
.navbar ul li a{
  text-decoration: none;
}
.active{
  background-color: red;
}
 