  <!-- <h1>{{title}}</h1>
 
 <h2>{{2+2}}</h2>
 <h1>{{10 == 10}}</h1>
 <h1>{{'hello'.toUpperCase()}}</h1>
 
 <app-login></app-login>
  <app-profile></app-profile>

  <button (click)="handleClickEvent()">Click Me</button>
  <button (click)="updateName()">update</button>
  <button (click)="sum(10,20)">Sum</button> -->

  <div>
    <br>
    <h2 class="counter">{{count}}</h2>
    <div class="btn-edit">
      <button class="btn bg-red" (click)="handleCounter('minus')">Decremnet</button>

      <button class="btn bg-dark" (click)="handleCounter('reset')">Reset</button>

      <button class="btn bg-green" (click)="handleCounter('plus')">Increment</button>
    </div>
  </div>
 
  <h1>Event in Angular</h1>

  <button class="btn1" name="login=-btn" (click)="handleEvent($event)">Click Me</button>

  <br>
  <br>
  <div (mouseenter)="handleEvent($event)"
  style="background-color: green; width: 100px;height: 100px;">

  </div>
  <br>
  <div (mouseleave)="handleEvent($event)"
  style="background-color: blue; width: 100px;height: 100px;">

  </div>
  <br>
  <br>
  <input (input)="handleEvent($event)" type="text" name="user" placeholder="enter name">
